.category {
  text-align: center;
}

.Jewelery {
  width: 82px;
  margin-top: 30px;
}

.Jewelery h6 {
  padding-top:18px;;
}

.item {
  max-width:300px;
  width:300px;
  text-align: center;
}

a h4 {
  color:rgb(13, 110, 253);
}

a:hover h4 {
  text-decoration: underline;
}

a:hover {
  cursor:pointer;

}
